@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
:root{
  --white: #fff;
  --pDark: rgba(255,255,255,0);
  --dark: rgb(52,58,56);
  --black: #000000; 
}

body{
  font-family: 'Abel', sans-serif !important;
  background: #1f1e1e!important;
}
hr{
  border-top: 2px solid #fff!important;
}

/*--------------------NAVBAR------------------------*/
.logo{
  width: 3rem;
}

/*-----------------------NAVLINKS---------------------------*/

nav{
  z-index: 2;
}

nav a.nav-link
{
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav li > a {
  color: var(--white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.09rem solid var(--pDark);
  border-bottom: 0.09rem solid var(--pDark);
}


.navbar-brand{
  max-width: 6rem;
  padding: 0!important;
  height: auto!important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus
{
  border-top: 0.09rem solid var(--white);
  border-bottom: 0.09rem solid var(--white);
} 

.navbar-nav > li > a:hover{
  border-top: 0.09rem solid var(--white);
  border-bottom: 0.09rem solid var(--white);
  transition: 0.1s ease-in-out;
}


/*-----------------------HEADER---------------------------*/

.header-wrapper{
  position: relative;
  background: url(./img/header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  
}

.main-info h1{
  color: var(--white)!important;
  text-transform: uppercase;
  font-size: 6rem;
}



/*-----------------------TYPEWRITER---------------------------*/

.type-writer{
  font-size: 3rem;
  color: var(--white);

}

@media(max-width: 768px)
{
  .main-info h1{
    font-size: 1.8rem!important;
  }

  .type-writer{
    font-size: 1.2rem;
  }
}



.btn-contact{
  border-bottom: 1px solid var(--white);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.6rem, 0.8rem, 0.8rem, 0.8rem;
  color: var(--white);
  margin-top: 2rem;
  border-top: 0.09rem solid var(--pDark);
  font-size: 2rem;
}

.btn-contact:hover{
  border: 1px solid var(--white);
  text-decoration: none;
  
  color: var(--white);
  transition: 0.1s ease-in-out;
}

/*-----------------------PARTICLES---------------------------*/
.tsparticles-canvas-el{
  position: absolute;
  height: 80vh!important;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px){
  .particles{
    display: none;
  }
}


/*-----------------------ABOUT ME---------------------------*/

.img-wrap
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic{
  width: 16rem;
  height: 20rem;
  border-radius: 40%;
  padding: 0.3rem;
  border: 1px solid orange;
}

.about-header
{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 3rem;
}
#about p{
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}
@media(max-width: 468px)
{
  .profile-pic{
    width: 10rem;
    height: 14rem;
  }
}


/*-----------------------PORTFOLIO---------------------------*/
.portfolio-wrapper{
  background: #1f1e1e;
  padding-bottom: 3rem 0;
}

.portfolio-wrapper h1{
  color: #fff;
  font-size: 3rem;
}

.portfolio-image
{
  width: 15rem;
  border: 1px solid var(--black);
  padding: 0 0.5rem;
}

.portfolio-img-box
{
  position: relative;
  margin: 1rem;
  
}

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--black);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1 px solid var(--black);
  cursor: pointer;
}

.portfolio-img-box:hover .overflow{
  opacity: 0.7;
  transition: 0.3s ease-in-out;

}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--white);
  font-size: 1.5rem;
}

.portfolio-img-box:hover .portfolio-icon
{
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*-----------------------POPUPBOX---------------------------*/

.portfolio-image-popupbox
{
  width: 45rem;
  padding: 0 0.5rem;
  margin-left:auto;
}

.hyper-link
{
  cursor: pointer;
  color: var(--black);

}

.hyper-link:hover{
  color: orange;
}


@media(max-width: 768px){
.portfolio-image-popupbox
{
  width: 100%;
}
}
@media(max-height: 570px){

.popupbox-wrapper
{
  height: 100%;
}

.portfolio-image-popupbox
{
  width: 50%;
}
}

@media(max-height: 280px){

  .popupbox-wrapper
  {
    height: 90%;
  }
  
  .portfolio-image-popupbox
  {
    width: 30%;
  }
  }


  /*-----------------------CONTACT---------------------------*/

.contact
{
  background: #1f1e1e;
  padding: 3rem 0;

}

.contact h1{
  color: #fff;
  padding: 1.3rem 0;
  text-transform: uppercase;
  font-size: 3rem;
}

.contact p{
  color: #fff;
  font-size: 1.5rem;
}

  /*-----------------------INPUTS---------------------------*/
.contact input, .contact textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid gray;
  border-radius: 0;
  color: #fff!important;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0!important;
}

.contact .container{
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus{
  background: transparent;
  color: #fff;
  border-bottom: 0.125rem solid gray;
}

.contact textarea{
  height: 12.2rem!important;
}

.contact-btn{
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.btn-main-offer {
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #fff;

}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000000;
  transition:  .2s ease-in-out;
}

.line{
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: #fff;
  display: inline-block;
}

input:focus+.line, textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control{
  margin: -0.3rem 0;
}

textarea.form-control{
  margin: -0.3rem 0;
}

.error-message{
  color: #fff;
  text-align: left;
}

.success-message{
  font-weight: 800;
  color: #fff;
}
  /*-----------------------MEDIA QUERIES---------------------------*/
  @media (max-width: 768px){
    .contact{
      overflow-x: hidden;
    }
    .contact .container{
      padding: 0 1rem;
    }
    .contact p {
      padding: 0 0.4rem;
    }
  }


  /*-----------------------FOOTER---------------------------*/
  
  .footer{
    background: #1f1e1e;
    color: gray;
    padding: 3rem;
  }

  .footer a{
    text-decoration: none;
    color: gray;

  }

  .footer a:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

  .footer p{
    margin-bottom: 0;
  }

  @media (max-width: 768px)
  {
    .footer .row{
      justify-content: center;
    }
    
    
  }

  